<!DOCTYPE html>
<html>
    <head>
        <title>Postage results</title>
    </head>
    <body>
            <h1>Postage Results</h1>
            <p>The rate for a <%=p_type%> weighing in at <%=weight%> oz. is $<%=price%></p>
    </body>
</html>